html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'M PLUS Rounded 1c', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #D0DB56;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #D0DB56;
  text-shadow: 3px 3px 1px black;
}

img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

body {
  width: 75%;
  margin: 0 auto;
  background-color: #e5e5e5;
  padding: 0 20px 20px 20px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
